body {
  margin: 0;
  height: 100%;
  background: #dbdbdb;
  font-family: sans-serif
}
.content{
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.card {
  display: flex;
  padding: 2rem;
 
  background-color: #ffffff;
  border: solid 1px #ababab;
  border-radius: 9px;
  width: 45rem;
  margin: 1rem;
}
.card-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;  
}
.card-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;  
}
.form-control{
  display: block;
  padding: 0.25rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  border: solid #c3c3c3 1px;
  border-radius: 2px;
  width: 100%;
}
.input-group{
  margin:0 1rem 1rem 1rem;
  max-width: 12rem;
}
.label-control {
  margin-left: 1rem;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.result{
  color:#fff;
}
.card-result{
  display: flex;
 justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;  
}
.success{
  background-color:#157347;
}
.danger{
  background-color: #b30303;
}
.btn {
  border-radius: 7px;
  border:1px solid #ccc;
  background: white;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  width: 3rem;
  margin: 1rem;
}
.btn-send{
  width: 12rem;
}
.btn-info {
    background: #0b5ed7;
    border:1px solid #0b5ed7;
    color:#fff
}
.btn-outline {
  padding: 0.5rem;
  border-radius: 7px;
  border:1px solid #fff;
  background: #ccc;
  cursor: pointer;
}
.btn:hover {
    padding: 0.5rem;
    border-radius: 7px;
    border:1px solid #fff;
    background: #ccc;
    cursor: pointer;
}
.feedback {
  color:red;
  font-size:12px;
}
.info-content{
  font-size: 12px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  row-gap: 0.5rem;
}
.info-img {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
}
.sumary {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 1rem;
  padding: 0 2rem 0 2rem;
}
.titulo-info {
  font-size: 13px;
  color: #686262;
}
@media only screen and (max-width: 600px) {
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .slide-left{
        width: 5%;
    }
}