<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}" media="screen" />
 <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3260/3260146.png" sizes="16x16" type="image/png">
  <script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
  <title>AI - Previsão de consumo</title>
</head> 
  
<body>
  <section class='content'>
    <!-- Fomulário -->
    <div class="card card-form">
      <h1>Faça aqui a sua previsão de consumo de cerveja</h1>
      <div class="sumary">
        Aqui está um programa de inteligencia artificial que irá predizer o consumo de cerveja em litros conforme os campos inseridos. Para alimentar o aprendizado de máquina, foi utilizada uma tabela de dados fornecida com 365 dados ao total, caso tenha interesse em entender a análise e o código, veja mais abaixo.
      </div>
      <form class="form" id="previsaoForm" method="POST" action="https://cervejaml--marianapacheco9.repl.co/predicao" >
        <div>
          <div class="input-group">
            <label class="label-control" for="date">Dia</label>
            <input type="date" required class="form-control" name="date">
            <div class="feedback" id="date"></div>
          </div>
          <div class="input-group">
            <label class="label-control" for="temp_media">Temperatura média (C)</label>
            <input type="number" required class="form-control" step=".01" placeholder="Temperatura média (C)" name="temp_media">
            <div class="feedback" id="temp_media"></div>
          </div>
        </div>
        <div>
          <div class="input-group">
            <label class="label-control" for="temp_min">Temperatura Min (C)</label>
            <input type="number" step=".01" required class="form-control" placeholder="Temperatura Minima (C)" name="temp_min">
            <div class="feedback" id="temp_min"></div>
          </div>
           
          <div class="input-group">
            <label class="label-control" for="temp_max">Temperatura Max (C)</label>
            <input type="number" required step=".01" class="form-control" placeholder="Temperatura Máxima (C)" name="temp_max">
            <div class="feedback" id="temp_max"></div>
            </div>
        </div>
        <div>
          <div class="input-group">
            <label class="label-control" for="prec">Precipitação</label>
            <input type="number" required step=".01" class="form-control" placeholder="Precipitação" name="prec">
            <div class="feedback" id="prec"></div>
          </div>
      
          <button type="submit" class="btn btn-info btn-send form-control">Pesquisar</button>
        </div>
      </form>
    </div>
    
    <!-- Reposta -->
    <div class="card card-result danger result" id="result">
          Favor inserir todos os dados para nova predição
    </div>

    <!-- Estudos -->
    <div class="card card-button">
      <div>
       <button class="btn" id="show-info">
         +
       </button> Veja as analises de estudo feito sobre os dados
      </div>
      <div class="info-content" style="display: none;">
        <div>
          A tabela a ser análisada possui 7 váriaveis relacionadas ao consumo de cerveja, onde a primeira informa todos os dias do ano que foram registrados os dados, a segunda variavel seria a preciptação, para indicar os dias de chuva. O terceiro indica se a data cai em um final de semana (sabado ou domingo). E e as próximas três indicam a temperatura
em ºC que estava no dia.
        </div>
        <div>
          Para melhor analise, foram criadas novas variaveis com base nas informações fornecidas, como
por exemplo o dia do ano, dia da semana e semana do mês. Essas novas variaveis foram consideradas
para o estudo presente. Abaixo fornecemos uma parcela de dados para entender sua formatação
        </div>
        <div class="info-img">
          <img src="{{url_for('static',filename='img1.png') }}" width="400px">
          <img src="{{url_for('static',filename='img2.png') }}" width="400px">
        </div>
        <div>
          Abaixo nós vemos as principais estatisticas sobre os dados originais, não formatados e sem as datas, pois com elas não seria possível extrair as informações de estatisticas. A grosso modo, percebemos que as temperaturas e os finais de semana estão diretamente ligadas com o consumo, principalmente a temperatura máxima.
        </div>
         <div class="info-img">
          <img src="{{url_for('static',filename='img3.png') }}" alt="">
        </div>
        <div>
          Para conseguirmos uma analise mais profunda em cima das datas, foram criadas as seguintes variaveis: Dia do ano; Dia da Semana; Semana do mês; Mes do ano; Final de Semana. Com esses dados nós poderemos ver se existem dias especificos que interferem no consumo ou se o consumo não tem relação alguma com as datas, apenas com a temperatura. Assim faremos os seguintes questionamentos:
        </div>
        <div>
          <ul>
          <li>Qual o dia da semana que mais vende cerveja?</li>
          <li>Qual a semana do mês que mais vende cerveja?</li>
          <li>Qual o mês do ano que mais vende cerveja?</li>
          <li>Qual o dia da semana que mais chove?</li>
          <li>Qual o semana do mês que mais chove?</li>
          <li>Qual o mês com a maior temperatura?</li>
        </ul>
        </div>
        <div>
        Abaixo vemos que os dias com maior consumo são os domingo e sabado com uma pequena variação entre ambos. Durante a semana o consumo se mantém em 23L tendo uma variação apenas de 1L de um dia para outros
Vemos que existe uma consideravel diferença entre os dias de semana e os finais de semana, com uma variação de 5 litros.
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img4.png') }}" width="700px">
          <img src="{{url_for('static',filename='img5.png') }}" width="700px">
        </div>
      <div>
       A semana do mês tem uma variação menor que 1L, provando que o consumo não depende do inicio ou do final do mês
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img6.png') }}" width="700px">
          <img src="{{url_for('static',filename='img7.png') }}" width="700px">
        </div>
        <div>
       Janeiro é o mês do ano que mais consome, seguido por outubro e dezembro respectivamente. Isso pode ser por um fato cultural, pois são as datas em muita gente tira férias e por ter muitas datas comemorativas.   Porém, pode ser também por ser a época de maiores temperaturas, como vemos no gráfico abaixo
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img8.png') }}" width="700px">
          <img src="{{url_for('static',filename='img9.png') }}" width="700px">
        </div>
      <div>
       O dia da semana que mais choveu em 2015 foi segunda feira. Porém não afetou diretamente o consumo
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img10.png') }}" width="700px">
          <img src="{{url_for('static',filename='img11.png') }}" width="700px">
        </div>
      <div>
      A segunda semana do mês é a que mais chove. Porém não afeta no consumo. Podemos dizer que de maneira geral a semana do mês não tem grande efeito sobre o consumo
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img12.png') }}" width="700px">
          <img src="{{url_for('static',filename='img13.png') }}" width="700px">
        </div>
        <div>
      O consumo da cerveja aumenta bastante quando é no final de semana
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img14.png') }}" width="700px">
          <img src="{{url_for('static',filename='img15.png') }}" width="700px">
        </div>
   <div>
    O consumo da cerveja varia muito pouco para quando chove e quando não chove. Foi considerada uma precipitação de 1ml para que esteja chovendo
    </div>
     <div class="info-img">
        <img src="{{url_for('static',filename='img16.png') }}" width="700px">
        <img src="{{url_for('static',filename='img17.png') }}" width="700px">
      </div>
    <div>
      Porém, se considerarmos uma chuva forte, como por exemplo de 50ml, nós percebemos que a variação do consumo aumenta. Portanto, apenas preciptações altas interferem no consumo
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img18.png') }}" width="700px">
          <img src="{{url_for('static',filename='img19.png') }}" width="700px">
        </div>
    <div>
     Para dias de semana a variação é bem grande, de 14 litros, então não podemos dizer que durante a semana toda o consumo é baixo ou não, pois essa análise dempederá de outras variaveis.
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img18.png') }}" width="700px">
          <img src="{{url_for('static',filename='img19.png') }}" width="700px">
        </div>
      <div>
     Para finais de semana também varia bastante o consumo, portanto não podemos tirar alguma conclusão analisando apenas os dias do final de semana
      </div>
       <div class="info-img">
          <img src="{{url_for('static',filename='img18.png') }}" width="700px">
          <img src="{{url_for('static',filename='img19.png') }}" width="700px">
        </div>
        <div>
          <h3>
            Aprendizado de máquina
          </h3>
          <div>
            Algumas váriaveis são quantitativas e interferem diretamente no consumo, como por exemplo a temperatura e preciptação, assim nós poderíamos utilizar a regressão, porém as variaveis de data poderão não se comportar muito bem. Vamos testar primeiro sem as datas
          </div>
        </div>
      <img src="{{url_for('static',filename='img24.png') }}" width="700px">
    <div>
      O resultado não foi muito bom... vamos tentar com todas as variaveis
    </div>
      <img src="{{url_for('static',filename='img25.png') }}" width="700px">
        <div>
          Com todas as variaveis nós conseguimos uma precisão de 73%
        </div>

      
      </div>
    </div>
  </section>
  
  <!-- Script -->
  <script>
    const myForm = document.getElementById('previsaoForm');
    myForm.addEventListener('submit', function(e) {
        e.preventDefault();
        if (validateSave()){
            $.ajax({
              url: 'predicao',
              type: 'post',
              dataType: 'json',
              data: $(this).serialize(),
              success: function(data) {
               $('#result').removeClass("danger")
               $('#result').addClass("success")
               $('#result').html("Segundo a inteligência artificial, seu consumo será de: "+data+" litros")
             }
          });
        }
    });
    
    validateSave = () => {
      result = true;
      if ($("[name=temp_media]").val() < 10 || $("[name=temp_media]").val() >  30){
        $("#temp_media").html("Min permitido é 10 e máximo permitido é 30");
        result = false;
      }
      if ($("[name=temp_max]").val() < 10 || $("[name=temp_max]").val() >  38){
        $("#temp_max").html("Min permitido é 10 e máximo permitido é 38");
        result = false;
      }
      if ($("[name=temp_min]").val() < 5 || $("[name=temp_min]").val() >  28){
        $("#temp_min").html("Min permitido é 5 e máximo permitido é 28");
        result = false;
      }
      if ($("[name=prec]").val() < 1 || $("[name=prec]").val() >  99){
        $("#prec").html("Min permitido é 1 e máximo permitido é 99");
        result = false;
      }
      return result;
    }
  
    $( "#show-info" ).on( "click", function() {
      if ($(".info-content").css('display') == 'none'){
        $(".info-content").show()
      } else {
        $(".info-content").hide()
      }
    });
</script>
</body>
</html>